@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  background-color: rgb(41, 44, 50);
  color: #f5f5f5;
}

body {
  background-color: rgb(41, 44, 50);
  width: 80vw;
  margin: 0 auto;
}

header {
  height: 100%;
  font-size: 2rem;
}
header h1 {
  font-size: 4rem;
  font-weight: 300;
  padding: 3rem;
  cursor: pointer;
}

select {
  height: 2rem;
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80vw;
  margin: 0 auto;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}
form input {
  height: 2rem;
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

fieldset {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80vw;
  padding: 2rem;
}

#decades-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  padding: 2rem;
}

#decade-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.decade-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0 1rem;
  cursor: pointer;
}

.decade-btn:hover {
  background-color: rgba(80, 117, 132, 0.999);
}

.results-heading {
  font-size: 4rem;
  padding: 3rem;
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
}

#results-section {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  gap: 2rem;
}
#results-section .episodes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80vw;
  margin: 0 auto;
  padding: 2rem;
}

#results-container.search-results {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(240px, 4fr));
  gap: 1rem;
  padding: 1rem 0;
  background-color: rgb(41, 44, 50);
}

#results-section.episodes {
  display: grid;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.season-container {
  border-radius: 12px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
}

.season-container > summary {
  background-color: rgba(80, 117, 132, 0.999);
  color: #fff;
  font-size: 2rem;
  text-align: left;
  width: 80vw;
  list-style: none;
}

.season-container[open] > summary {
  background-color: rgb(41, 44, 50);
}

.season-container > .episode-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 45% 45%;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
}
.season-container > .episode-container * {
  background-color: transparent;
}
.season-container > .episode-container .episode-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.season-container > .episode-container .episode-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.season-container > .episode-container .episode-text-container .episode-title {
  font-size: 3rem;
  font-weight: 300;
}
.season-container > .episode-container .episode-text-container .episode-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.season-container > .episode-container:nth-child(even) {
  background-color: rgba(80, 117, 132, 0.999);
}

.result-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  right: 0;
  transition: bottom 0.5s ease, right 0.5s ease-in-out;
  cursor: pointer;
}
.result-container .show-title {
  font-weight: 300;
  padding: 1rem;
  font-size: 1.5rem;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  bottom: 0;
}
.result-container .show-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result-container:hover {
  bottom: -5px;
  right: -5px;
}
.result-container:hover .show-title {
  display: inline;
}

#filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80vw;
  padding: 2rem;
}

.show-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80vw;
  padding: 2rem;
}
.show-info-container .show-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 80vw;
}
.show-info-container .show-text-container .show-title {
  font-size: 3rem;
  font-weight: 500;
}
.show-info-container .show-text-container .show-rating {
  font-size: 1.5rem;
  font-weight: 300;
}
.show-info-container .show-text-container .show-summary > p {
  text-align: start;
}

table,
th,
td {
  border: 1px solid;
  padding: 2rem;
  background-color: transparent;
}
table p,
th p,
td p {
  background-color: transparent;
}

table {
  border-collapse: collapse;
  background-color: rgb(41, 44, 50);
}

tr {
  background-color: rgb(41, 44, 50);
}

tr:nth-child(even) {
  background-color: rgba(80, 117, 132, 0.999);
}

.schedule-show-title {
  font-size: 2rem;
  font-weight: 300;
}

.schedule-show-title:hover {
  color: rgba(80, 117, 132, 0.999);
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
