@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  background-color: rgb(41, 44, 50);
  color: #f5f5f5;
}

body {
  background-color: rgb(41, 44, 50);
  margin: 0 auto;
}

input {
  height: 2rem;
  width: fit-content;
  border: none;
}

button {
  background-color: transparent;
  border: solid 1px #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  width: fit-content;
  cursor: pointer;
}
button:hover {
  background-color: rgba(80, 117, 132, 0.999);
}

select {
  width: 10rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1.25rem;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  background-color: rgba(62, 66, 74, 0.983);
}
#nav-container * {
  background-color: transparent;
}

.remove-watchlist-btn {
  background-color: #e05252;
}

.remove-watchlist-btn:hover {
  background-color: rgba(224, 82, 82, 0.658);
}

#header {
  height: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header h1 {
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
  cursor: pointer;
}

#search-div {
  display: flex;
  gap: 0.5rem;
}

#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
form .search-input {
  width: 15rem;
}
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
form #country-select {
  width: 7rem;
}
form .search-btn {
  background-color: transparent;
  border: solid 1px #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  width: fit-content;
  cursor: pointer;
  width: fit-content;
}
form .search-btn:hover {
  background-color: rgba(80, 117, 132, 0.999);
}
form .search-btn i {
  background-color: transparent;
}

#decade-btn-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  gap: 1rem;
}

.decade-btn {
  background-color: transparent;
  border: solid 1px #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  width: fit-content;
  cursor: pointer;
}
.decade-btn:hover {
  background-color: rgba(80, 117, 132, 0.999);
}

#filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.results-heading {
  font-size: 4rem;
  padding: 1rem;
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
}

#results-section {
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  gap: 2rem;
}
#results-section .episodes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 2rem;
}

#results-container.search-results {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(240px, 4fr));
  gap: 1rem;
  padding: 1rem 0;
  background-color: rgb(41, 44, 50);
}

.result-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  right: 0;
  transition: bottom 0.5s ease, right 0.5s ease-in-out;
  cursor: pointer;
}
.result-container .show-title {
  font-weight: 300;
  padding: 1rem;
  font-size: 1.5rem;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  bottom: 0;
}
.result-container .show-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result-container:hover {
  bottom: -5px;
  right: -5px;
}
.result-container:hover .show-title {
  display: inline;
}

#results-section.episodes {
  display: grid;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.season-container {
  margin-bottom: 0.5rem;
  overflow: hidden;
  width: 100%;
}

.season-container > summary {
  background-color: rgba(80, 117, 132, 0.999);
  color: #fff;
  font-size: 2rem;
  text-align: left;
  padding: 1rem;
  list-style: none;
}

.season-container > .episode-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 45% 45%;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
}
.season-container > .episode-container * {
  background-color: transparent;
}
.season-container > .episode-container .episode-image {
  width: 50%;
  height: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.season-container > .episode-container .episode-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.season-container > .episode-container .episode-text-container .episode-title {
  font-size: 3rem;
  font-weight: 300;
}
.season-container > .episode-container .episode-text-container .episode-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.season-container > .episode-container:nth-child(odd) {
  background-color: rgba(80, 117, 132, 0.999);
}

.show-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80vw;
  padding: 2rem;
}
.show-info-container .show-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 80vw;
}
.show-info-container .show-text-container .show-title {
  font-size: 3rem;
  font-weight: 500;
}
.show-info-container .show-text-container .show-rating {
  font-size: 1.5rem;
  font-weight: 300;
}
.show-info-container .show-text-container .show-summary > p {
  text-align: start;
}

table,
th,
td {
  border: 1px solid;
  padding: 1rem;
  background-color: transparent;
}
table p,
th p,
td p {
  background-color: transparent;
}

table {
  border-collapse: collapse;
  background-color: rgb(41, 44, 50);
}

tr {
  background-color: rgb(41, 44, 50);
  border: 1px solid;
}

tr:nth-child(even) {
  background-color: rgba(80, 117, 132, 0.999);
  color: #f5f5f5;
}
tr:nth-child(even) .schedule-show-title {
  background-color: rgba(80, 117, 132, 0.999);
  color: #f5f5f5;
}
tr:nth-child(even) .schedule-show-title:hover {
  color: rgb(41, 44, 50);
}

table > tr > :nth-child(3) {
  width: 25%;
}

table > tr > :last-child {
  width: 40%;
}

table > tr > :first-child,
table > tr > :nth-child(2) {
  width: 10%;
}

.title-cell-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  width: 100%;
  background-color: transparent;
}

.schedule-show-title {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;
  text-align: left;
}

.schedule-show-title:hover {
  color: rgba(80, 117, 132, 0.999);
  cursor: pointer;
}

.schedule-show-img {
  width: 30%;
  height: 30%;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
